*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
   
}
header{
background: rgb(193, 178, 240);
opacity: 0.7;
display: flex;
justify-content: start;
border-bottom: 2px solid rgb(226, 197, 242);  
}
.logo{
    width: 45px;
    height: 45px;
    margin: 8px 40px;
}
nav{
    padding: 10px ;
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    font-size: 18px;
}
.nav-enlace{
background: rgb(176, 106, 208);
display: inline-block;
color: #e4dede;
padding: 10px 30px;
margin-left: 5px;
border-radius: 5px;
text-decoration: none;
}
.nav-enlace:hover{
    background: rgb(146, 32, 233);
}

.nav-boton{
    background: salmon;
    padding: 10px;
    color: #fff;
    border: 2px solid #fff;
    display: none;
}
  /* portada nav-var*/

/*responsive */
@media (max-width: 600px){
    nav{
        flex-direction: column;
    }
 .nav-enlace{
    margin: 10px 0;
}
.nav-boton{
    display: inline-block;
}  
.desaparece{
    display: none;
} 
}